name: Docs

on:
  push:
    branches:
      - main
      - dev/rearchitect-and-remove-nbdev
  pull_request:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]
          
      - name: Build Docs
        run: |
          mkdocs build
          
      - name: Deploy Docs
        if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev/rearchitect-and-remove-nbdev')
        run: |
          mkdocs gh-deploy --force
